a.basel-sticky-sidebar-opener {
  display: none !important; }

.page-template-template-rac .website-wrapper {
  width: 100%; }
  .page-template-template-rac .website-wrapper .main-page-wrapper {
    padding-right: 15px;
    padding-left: 15px; }
.page-template-template-rac .container {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  max-width: none !important; }

body {
  display: flex; }

.rac-pagina {
  width: 100%; }

@media screen and (max-width: 1366px) and (min-width: 767px) {
  section#section__home,
  section#section__infosProduto,
  section#section__temas p,
  section#section__valores,
  section#section__imedFeitoSobMedidaParaOSeuObjetivo,
  section#section__informacoesTecnicas {
    padding: 30px !important; } }
@media screen and (max-width: 320px) {
  .rac-pagina .box__imedFeitoSobMedidaParaOSeuObjetivo {
    width: 100% !important; } }
@media screen and (max-width: 767px) {
  .chamada {
    transform: scale(0.8); }

  .rac-pagina #section__home {
    background-position: center right; }
  .rac-pagina #section__valores .column:nth-child(1) {
    flex: 1; }
  .rac-pagina #section__valores .column:nth-child(2) {
    flex: 1;
    width: 100%;
    padding: 50px 0px; }
  .rac-pagina #section__valores .column:nth-child(3) {
    flex: 1; }
  .rac-pagina #section__valores .column {
    margin-left: 0 !important; }
    .rac-pagina #section__valores .column span.separator {
      width: 100% !important;
      background: #d3dfe4;
      height: 1px !important; } }
p,
li,
h2, h4 {
  color: #004d72 !important; }

.rac-pagina #section__home {
  padding: 30px 0; }
  .rac-pagina #section__home h1 {
    color: #004d72 !important; }
  .rac-pagina #section__home .chamada {
    font-weight: 900;
    display: flex;
    flex-direction: column;
    color: #004d72;
    margin-bottom: 20px; }
    .rac-pagina #section__home .chamada .chamada__top {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .rac-pagina #section__home .chamada .chamada__top .chamada__top--left {
        font-size: 55px;
        font-weight: 900; }
      .rac-pagina #section__home .chamada .chamada__top .chamada__top--right {
        font-size: 20px;
        margin-left: 10px;
        font-weight: 400; }
        .rac-pagina #section__home .chamada .chamada__top .chamada__top--right b {
          font-weight: 900; }
    .rac-pagina #section__home .chamada .chamada__bottom {
      font-size: 128px;
      font-weight: 900;
      line-height: 110px; }
  .rac-pagina #section__home #nextSection {
    filter: invert(1); }
.rac-pagina #section__infosProduto img {
  filter: brightness(0.5); }
.rac-pagina #section__temas li {
  color: #004d72 !important; }
.rac-pagina #section__valores .column:nth-child(1) {
  flex: 8; }
.rac-pagina #section__valores .column:nth-child(2) {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center; }
.rac-pagina #section__valores .column:nth-child(3) {
  flex: 8; }
.rac-pagina #section__valores .column {
  margin-left: 20px; }
  .rac-pagina #section__valores .column span.separator {
    height: 100%;
    background: #d3dfe4;
    width: 1px; }
  .rac-pagina #section__valores .column h2 {
    text-align: center;
    font-weight: 900;
    margin-bottom: 30px; }
  .rac-pagina #section__valores .column .box__valores {
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 22px rgba(0, 0, 0, 0.1); }
    .rac-pagina #section__valores .column .box__valores .titulo {
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #d3dfe4 !important;
      border-bottom: 3px solid #b7cad2;
      padding: 25px;
      text-transform: uppercase; }
      .rac-pagina #section__valores .column .box__valores .titulo h5 {
        font-size: 16px !important;
        font-weight: 600 !important;
        max-width: 300px;
        color: #004d72; }
    .rac-pagina #section__valores .column .box__valores .texto {
      height: 200px; }
.rac-pagina #section__imedFeitoSobMedidaParaOSeuObjetivo .box__imedFeitoSobMedidaParaOSeuObjetivo .icone img {
  filter: brightness(0.5); }
.rac-pagina #section__imedFeitoSobMedidaParaOSeuObjetivo .box__imedFeitoSobMedidaParaOSeuObjetivo .texto p {
  color: #004d72 !important; }
.rac-pagina #section__informacoesTecnicas .box__informacoesTecnicas {
  box-shadow: 0px 1px 22px rgba(0, 0, 0, 0.1) !important; }
.rac-pagina #section__informacoesTecnicas img {
  filter: brightness(0.5); }
.rac-pagina #section__informacoesTecnicas .box__informacoesTecnicas .coluna__imagem {
  background: #d3dfe4 !important; }
.rac-pagina #section__informacoesTecnicas .box__informacoesTecnicas .coluna__texto {
  background: #ffffff !important; }

/*# sourceMappingURL=new-style.css.map */
